<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-processing</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ProDiabeticsTeam.NightScouttoHealthKitv1</string>
		<string>com.ProDiabeticsTeam.NightScouttoHealthKit.processing</string>
		<string>com.ProDiabeticsTeam.NightScouttoHealthKit.gpu-wavenet</string>
	</array>
	<key>com.apple.developer.background-tasks.continued-processing.gpu</key>
	<true/>
	<key>APSEnvironment</key>
	<string>production</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>WKWatchKitApp</key>
	<string>$(WK_WATCHKIT_APP:default=NO)</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow NightScout to read your heart rate to improve glucose predictions.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow NightScout to write prediction metrics to Health data.</string>
</dict>
</plist>
