<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-processing</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>APSEnvironment</key>
	<string>production</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>WKWatchKitApp</key>
	<string>$(WK_WATCHKIT_APP:default=NO)</string>
</dict>
</plist>
